modules = ["nodejs-20", "web", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33595
externalPort = 6000

[[ports]]
localPort = 36747
externalPort = 3000

[[ports]]
localPort = 36897
externalPort = 4200

[[ports]]
localPort = 38585
externalPort = 5000

[[ports]]
localPort = 39931
externalPort = 3003

[[ports]]
localPort = 43109
externalPort = 3001

[[ports]]
localPort = 43421
externalPort = 3002

[[ports]]
localPort = 46649
externalPort = 5173
